
#datasetBodyDiv {
    margin-top: 20px;
}

#varTables {
    opacity: 0;
}

.varNav {
    margin-bottom: 20px;
    border-bottom-color: lightgray;
}

.formErrorHighlight {
    box-shadow: 0px 0px 10px 10px #ac2925;
}
#createModelErrors {
    margin-top: 10px;
}

#residVsFitted, #corrMatrix {
    margin-top: 25px;
    margin-bottom: 25px;
}