
#datasetBodyDiv {
    margin-top: 20px;
}

#varTables {
    opacity: 0;
}

.subNav {
    margin-bottom: 20px;
    border-bottom-color: lightgray;
}

.formErrorHighlight {
    box-shadow: 0px 0px 10px 10px #ac2925;
}

.formErrors {
    margin-top: 10px;
}

#modelNoOutputHeader {
    margin-top: 150px;
}

#visNoOutputHeader {
    margin-top: 100px;
}

.plotMargin {
    margin-top: 25px;
    margin-bottom: 25px;
}