
#uploadBodyDiv {
    margin-top: 50px;
}

.dropzone {
    text-align: center;
    font-size: 18px;
}

.newDataset {
     background-color: rgba(1, 201, 0, 0.3);
 }

#deleteUpload {
    visibility: hidden;
}
