@import url('https://fonts.googleapis.com/css?family=\
Indie+Flower|Bree+Serif');

.header {
    background-color: black;
    font-family: "Bree Serif";
    font-size: 20px;
}

.navbar-brand {
    font-size: 28px;
}

.landing {
    margin-top: 50px;
    margin-bottom: 150px;
    font-family: "Bree Serif";
}

hr {
    border-color: #9b9b9b;
}

#landingTitle {
    font-size: 50px;
}

#featureList {
    font-size: 20px;
    margin-bottom: 25px;
}

.landingSpinner {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: darkslategrey;
}

#plot1, #plot2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottomH1 {
    margin-top: 25px;
    margin-bottom: 50px;
}

footer {
    background-color: #000000;
    color: white;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cpdLink {
    font-size: 24px;
    font-family: "Indie Flower";
}

#cpdLink a {
    text-decoration: none;
    color: inherit;
}

#footerImg {
    display: flex;
}

#pythonImg a img, #djangoImg a img {
    height: 40px;
    margin-left: 20px;
}

#loginFlash {
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #82ff8d;
}

#logoutFlash {
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9403;
}