{% extends 'pythonmodels/layout/userLayout.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}PyModels - {{ user.username }}{% endblock %}

{% block pagecss %}

    {# Dropzone css #}
    <link rel="stylesheet" href="{% static 'pythonmodels/css/dropzone.min.css' %}">

    {# Other user css #}
    <link rel="stylesheet" href="{% static 'pythonmodels/css/dataUpload.css' %}">

{% endblock %}

{% block pagejs %}

    {# Dropzone js #}
    <script src="{% static 'pythonmodels/js/dropzone.min.js' %}"></script>

    {# Other user js #}
    <script src="{% static 'pythonmodels/js/dataUpload.js' %}"></script>

{% endblock %}

{% block userBody %}

    <div id="uploadBodyDiv">

        <h2>Upload Dataset:</h2>

        <ul>
            <li>CSV and Excel only</li>
            <li>Requires headers</li>
            <li>Click "Remove file" to upload another dataset</li>
        </ul>

        <div class="row">
            <div class="col-md-5">
                {% crispy form %}
            </div>
            <div id="newUpload" class="col-md-7">
                {# New content here #}
            </div>
        </div>


    </div>

{% endblock %}