{% extends 'pythonmodels/layout/userLayout.html' %}

{% load static %}

{% block title %}PyModels - {{ user.username }}{% endblock %}

{% block pagejs %}

    {# Other user js #}

{% endblock %}


{% block userBody %}

    <div id="welcome" class="col-lg-8 offset-lg-2">

        <h1>Welcome {{ user.username }}</h1>

        Please view your available datasets below:

        <hr>

        <div class="row">

            <div class="col-sm-6">
                <div class="container-fluid">
                    <h2 id="userDataH2">Your Datasets</h2>
                    <br>

                    {% if user_datasets %}
                        {% for data in user_datasets %}

                            <div id="dataset_{{ data.id }}" class="card border-dark datasetDiv">
                                <h4 class="card-header oldDataset"><i class="fas fa-table"></i> {{ data.name }}
                                </h4>
                                {% include 'pythonmodels/user_content/datasetInfo.html' %}
                            </div>

                        {% endfor %}
                    {% else %}
                        <h4 id="noDataset">No datasets uploaded</h4>
                    {% endif %}

                </div>
            </div>

            <div class="col-sm-6">
                <div class="container-fluid">
                    <h2>Pre-loaded Datasets</h2>
                    <br>

                    {% for data in public_datasets %}
                        <div class="card border-dark datasetDiv">
                            <h4 class="card-header pubDataset"><i class="fas fa-table"></i> {{ data.name }}</h4>
                            {% include 'pythonmodels/user_content/datasetInfo.html' %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}