<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><span class="glyphicon glyphicon-flash"></span></a>
            <a class="navbar-brand" href="/">QuickModel</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'pythonmodels:about' %}">About</a></li>
                <li><a href="{% url 'pythonmodels:contact' %}">Contact</a></li>
            </ul>

                 <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}

                    <li><a href="{% url 'pythonmodels:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/guest">Guest</a></li>

                {% else %}

                    <li><a href="{% url 'pythonmodels:user_index' user.username %}">{{ user.username }}</a></li>
                    <li><a href="#" id="logoutBtn">Logout</a></li>
                    <li><form method='POST' id='logout' action='{% url 'pythonmodels:logout' %}'>{% csrf_token %}</form></li>

                {% endif %}

            </ul>

        </div>
    </div>
</nav>

{#@if (session()->has('login_success'))#}
{#    <div id="loginFlash">{{ session('login_success') }}</div>#}
{#@endif#}
{##}
{#@if(session()->has('logout_success'))#}
{#    <div id="logoutFlash">{{ session('logout_success') }}</div>#}
{#@endif#}