<nav class="navbar navbar-inverse header" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-target="#myNavbar" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav navbar-left">
            <a class="navbar-brand" href="/"><i class="fas fa-fighter-jet"></i> QuickModel</a>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}

                <li><a href="{% url 'pythonmodels:login' %}">Login <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li><a href="{% url 'pythonmodels:guest' %}">Guest</a></li>

            {% else %}

                <li><a href="{% url 'pythonmodels:user_index' user.username %}">{{ user.username }}</a></li>
                <li><a href="{% url 'pythonmodels:logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a></li>

            {% endif %}

        </ul>

    </div>
</nav>

{% for message in messages %}
    {% if 'loginFlash' in message.tags %}
        <div id="loginFlash">
            {{ message }}
        </div>
    {% elif 'logoutFlash' in message.tags %}
        <div id="logoutFlash">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}
