{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="{% csrf_token %}">
    <title>{% block title %}Python Models{% endblock %}</title>

    {# Bootstrap css #}
    <link rel="stylesheet" href="{% static 'pythonmodels/css/bootstrap.min.css' %}">

    {# Stylesheet links #}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'pythonmodels/css/master.css' %}"/>

</head>
<body>

{% include 'pythonmodels/layout/header.html' %}

{% block content %}
{% endblock %}

{% include 'pythonmodels/layout/footer.html' %}


{# Jquery js #}
<script src="{% static 'pythonmodels/js/jquery-3.2.1.min.js' %}"></script>

{# Bootstrap js #}
<script src="{% static 'pythonmodels/js/bootstrap.min.js' %}"></script>

{# Other js #}
{% block js %}{% endblock %}
<script src="{% static 'pythonmodels/js/landing.js' %}"></script>

</body>
</html>