{% extends 'pythonmodels/layout/master.html' %}

{% load static %}

{% block css %}

    {% block pagecss %}{% endblock %}

    {# Datatable css #}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    {# Other user css #}
    <link rel="stylesheet" href="{% static 'pythonmodels/css/user.css' %}">

{% endblock %}

{% block js %}

    {% block pagejs %}{% endblock %}

    {# Datatable js #}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    {# MathJax js #}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

    {# Other user js #}
    <script src="{% static 'pythonmodels/js/user.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                {# Fill with create model form #}
            </div>

            <div class="col-sm-8 text-left userBody">

                <div class="userNav">
                    <ul class="nav nav-tabs userNav">
                        <li><a href="{% url 'pythonmodels:user_index' user.username %}">{{ user.username }} Home
                            <i class="fas fa-home"></i></a>
                        </li>
                        <li><a href="{% url 'pythonmodels:dataset_upload' user.username %}">Upload Data
                            <i class="fas fa-database"></i></a>
                        </li>
                        <li><a href="{% url 'pythonmodels:model_create' user.username 0 %}">Create Model
                            <i class="fas fa-chart-bar"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="container-fluid">
                    {% block userBody %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-2 sidenav text-center">
                {# Add sidenav content #}
            </div>
        </div>
    </div>

{% endblock %}