{% extends 'pythonmodels/layout/master.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}PyModel - Register{% endblock %}

{% block css %}

    {# Other user css #}
    <link rel="stylesheet" href="{% static 'pythonmodels/css/landing.css' %}">

{% endblock %}


{% block content %}

    <div class="landing col-md-4 offset-md-4">
        <h1>Register</h1>
        <p>Already registered? <a href={% url 'pythonmodels:login' %}>Login here...</a></p>
        {% crispy form %}
    </div>

{% endblock %}